* {
    margin: 0;
    padding: 0;
}

.skipmain {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*Стиль для header*/ 
.headerBack {
    
    background-color: #bbbbbb;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 42px;
    padding: 5px 20px;
    
}

.headerBack a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*Стиль для logo(CMS)*/
.logo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    
}

.icon {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

/*Стиль для bell*/
.bell {
    position: relative;
    cursor: pointer; 
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    display: block;
}

.icon-bell {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
}

/*Стиль для user*/
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {        
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-name {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

/*Стиль для прихованого вікна повідомлень*/
.notification-popup {
    position: absolute;
    top: 35px;
    right: 0;
    width: 300px;
    background: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    z-index: 10;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notification-item:last-child {
    border-bottom: none;
}

.user-info-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding: 0 5px 5px 5px;
}

/*Стиль для прихованого вікна користувача*/
/* .bell:hover .notification-popup {
    display: block;
} */


