* {
    margin: 0;
    padding: 0;
}

.skipmain {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.headerBack {
    position: fixed;
    background-color: #333;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    padding: 5px 20px;
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    box-sizing: border-box; 
}

.headerBack a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    
}

.icon {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.bell {
    position: relative;
    cursor: pointer; 
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    display: none;
}

.icon-bell {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification-popup {
    position: absolute;
    top: 35px;
    right: 0;
    width: 350px;
    background: #fff;
    max-width: 400px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    z-index: 10;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
}

.notification-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notification-item:last-child {
    border-bottom: none;
}

.user-info-notification {
    display: flex;
    filter: brightness(0.8);
    flex-direction: column;
    align-items: center;
    width: 75px;
    margin-right: 10px;
    padding: 0 5px 5px 5px;
}

.rectangle {
    position: relative;
    background: #ccc;
    max-width: 400px;
    width: 220px;
    height: 75px;
    border: 1px solid #888;
    box-sizing: border-box;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}

/* Стрілка */
.rectangle::before {
    content: "";
    position: absolute;
    left: -10px; 
    top: 30%; 
    transform: translateY(-50%); 
    border-width: 8px; 
    border-style: solid;
    border-color: transparent #ccc transparent transparent; 
}

.rectangle::after {
    content: "";
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%);
    border-width: 9px;
    border-style: solid;
    border-color: transparent #888 transparent transparent;
}

/* Обрізання тексту */
.text-content {
    color: rgba(0, 0, 0, 0.575);
    display: block; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

@keyframes bellAnimation {
    0% {transform: rotate(0);}
    25% {transform: rotate(45deg);}
    50% {transform: rotate(-45deg);}
    75% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}

.bell-animation {
    animation: bellAnimation 0.5s ease-in-out;
}

.user {        
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-name {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.profile-popup {
    position: absolute;
    top: 45px;
    right: 10px;
    width: 140px;
    background: #fff;
    max-width: 400px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    z-index: 10;
}

.popup-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-menu li {
    padding: 12px 20px;
    transition: background 0.3s ease;
    border-bottom: 1px solid #d1d1d1;
}

.popup-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: block;
    
}

.popup-menu li:hover {
    background: #f0f0f0;
    border-radius: 10px;

}



