.sidebar {
    position: fixed;
    width: 180px;
    height: calc(100% - 52px); 
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #bbbbbb;
    top: 52px; 
    left: 0; 
    z-index: 900; 
    box-sizing: border-box; 
    overflow-y: auto; 
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.sidebar a.active {
    background-color: #414141; 
    color: white; 
    border-radius: 25px;
}

.sidebar a:hover {
    background-color: #ddd; 
    color: #333; 
}


/* Бургер-меню */
.burger-menu {
    display: none;
    position: fixed;
    top: 70px; /* Відступ під хедером */
    left: 15px; /* Відступ від краю */
    z-index: 950;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

/* Іконка бургер-меню */
.burger-menu div {
    width: 30px;
    height: 4px;
    background-color: #414141;
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .content-header {
        margin-top: 50px; 
        text-align: center; 
    }

    .table-container {
        overflow-x: auto; 
        max-width: 100%; 
        margin: 0 auto; 
        border: 1px solid #000; 
    }

    .students-table {
        width: 100%; 
        min-width: 600px; 
    }

    .burger-menu {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        width: 200px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 980;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .burger-menu.active div:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger-menu.active div:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active div:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }


    .modal {
        width: 90%; /* Робимо модальне вікно 90% ширини екрану */
        max-width: 240px; /* Мінімальна ширина зменшена до 260px */
        padding: 10px; /* Ще трохи зменшили внутрішні відступи */
    }

    .modal-header {
        font-size: 16px; /* Зменшуємо розмір заголовка */
        padding: 8px; /* Менші відступи */
        margin: -10px -10px 8px -10px; /* Коригуємо внутрішні відступи */
    }

    .modal-body label {
        font-size: 12px; /* Ще менший текст для економії простору */
    }

    .modal-body input, 
    .modal-body select {
        padding: 5px; /* Зменшуємо padding */
        font-size: 13px; /* Оптимальний розмір тексту для маленьких екранів */
    }

    .modal-footer {
        flex-direction: column; /* Кнопки залишаються в колонці */
        gap: 5px;
        padding: 8px 10px 0 10px;
    }

    .modal-footer button {
        width: 100%; /* Кнопки розтягуються на всю ширину */
        padding: 8px;
    }
}
