:root {
    --color-light: #FFFCF2;
    --color-gray-light: #CCC5B9;
    --color-gray-dark: #403D39;
    --color-dark: #252422;
    --color-accent: #EB5E28;
}

.sidebar {
    position: fixed;
    width: 180px;
    height: calc(100% - 52px); 
    background-color: var(--color-gray-light);
    padding: 20px;
    border-right: 1px solid var(--color-gray-dark);
    top: 52px; 
    left: 0; 
    z-index: 900; 
    box-sizing: border-box; 
    overflow-y: auto; 
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-gray-dark);
    transition: all 0.3s ease;
    border-radius: 25px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.sidebar a.active {
    background-color: var(--color-dark); 
    color: var(--color-light); 
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar a:hover {
    background-color: var(--color-dark); 
    color: var(--color-light); 
    transform: translateX(5px);
}

.sidebar a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.sidebar a:hover::after {
    transform: scaleX(1);
}

/* Бургер-меню */
.burger-menu {
    display: none;
    position: fixed;
    top: 70px; /* Відступ під хедером */
    left: 15px; /* Відступ від краю */
    z-index: 950;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

/* Іконка бургер-меню */
.burger-menu div {
    width: 30px;
    height: 4px;
    background-color: var(--color-dark);
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 2px;
}

.burger-menu:hover div {
    background-color: var(--color-accent);
}

